body {
    margin: 0;
    font-family: sans-serif;
}

main {
    color: black;
}

.hero {
    /* size */
    width: 100vw;
    height: 100vh;

    /* flexbox */
    display: flex;
    justify-content: center;
    align-items: center;

    /* text style */
    text-align: center;
    color: black;

    /* background */
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.hero h1 {
    color: black;
    text-transform: uppercase;
    font-size: 3em;
    padding: 10px;
}

.hero.inner {
    display: block;
    width: auto;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

